<div class="container tableBackground">
  <h3>{{ headline }}</h3>

  <app-autocomplete-with-add-function
    *ngIf="editable"
    class="input"
    [knownItems]="knownItems"
    [labelName]="(onlyKnownItemsSelectable ? '' : 'Add / ') +  'Select ' + headline"
    [clearOnSelect]="true"
    [itemName]="headline"
    (itemSelected)="onItemSelect($event)"
    [disableAddFunction]="onlyKnownItemsSelectable"
    [filterFunction]="notAlreadyIncludedInData"></app-autocomplete-with-add-function>

  <div class="table">
    <table
      mat-table
      [dataSource]="tableDataSource">
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let element">
          {{ element }}
        </td>
      </ng-container>

      <ng-container
        matColumnDef="action"
        *ngIf="editable">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="action"></th>
        <td
          mat-cell
          *matCellDef="let element"
          class="action">
          <button
            mat-icon-button
            disableRipple
            (click)="removeElement(element)">
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-row
        *matRowDef="let row; columns: columns"></tr>
      <tr
        class="mat-row"
        *matNoDataRow>
        <td
          class="mat-cell"
          [attr.colspan]="columns.length">
          No items added
        </td>
      </tr>
    </table>
  </div>
</div>
