<div
  class="container"
  *ngIf="recipe">
  <div class="title">
    <h1>{{ recipe.recipeName }}</h1>
    <h4><mat-icon>book</mat-icon>{{ recipe.cookbook }}</h4>
  </div>
  <div class="additionalInformation">
    <app-selected-items-display
      headline="Ingredients"
      [underlinedHeadline]="true"
      [data]="recipe.ingredients"
      [editable]="false"></app-selected-items-display>
    <br />
    <app-selected-items-display
      headline="Categories"
      *ngIf="this.isCategoryRecipeFeatureEnabled()"
      [underlinedHeadline]="true"
      [data]="recipe.categories"
      [editable]="false"></app-selected-items-display>
    <app-rating-display
      [editable]="false"
      *ngIf="this.isRatingRecipeFeatureEnabled()"
      [rating]="recipe.rating"></app-rating-display>
  </div>
</div>
