<div
  class="container"
  *ngIf="recipe">
  <div class="title">
    <h1>{{ recipe.recipeName }}</h1>
    <h4><mat-icon>book</mat-icon>{{ recipe.cookbook }}</h4>
  </div>
  <div class="additionalInformation">
    <app-selected-items-display
      headline="Ingredients"
      id="ingredientSelect"
      [underlinedHeadline]="true"
      [data]="recipe.ingredients"
      [editable]="false"></app-selected-items-display>
    <br />
    <app-selected-items-display
      headline="Categories"
      id="categorySelect"
      *ngIf="this.isCategoryRecipeFeatureEnabled()"
      [underlinedHeadline]="true"
      [data]="recipe.categories"
      [editable]="false"></app-selected-items-display>
    <div class="verticallyGroupedInformation">
      <app-required-time-display
        [editable]="false"
        [requiredTime]="recipe.requiredTime"
        *ngIf="this.isRequiredTimeRecipeFeatureEnabled()">
      </app-required-time-display>
      <app-rating-display
        [editable]="false"
        *ngIf="this.isRatingRecipeFeatureEnabled()"
        [rating]="recipe.rating"></app-rating-display>
      <app-page-number-display
        [editable]="false"
        *ngIf="this.isPageNumberRecipeFeatureEnabled()"
        [pageNumber]="recipe.pageNumber"></app-page-number-display>
    </div>
  </div>
</div>
