<div class="container">
  <h1>{{ editing ? "Edit Recipe" : "Add a Recipe" }}</h1>
  <div class="inputs">
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>Recipe Name</mat-label>
      <input
        matInput
        placeholder="Name of recipe"
        [formControl]="recipeFormControl">
      <mat-error *ngIf="recipeFormControl.hasError('required')">
        The recipe name needs to be filled
      </mat-error>
    </mat-form-field>
    <app-autocomplete-with-add-function
      itemName="Cookbook"
      [knownItems]="knownCookbooks"
      labelName="Cookbook"
      [clearOnSelect]="false"
      (itemSelected)="updateCookbookName($event)"
      [startValue]="
        recipe.cookbook.length > 0 ? recipe.cookbook : undefined
      "></app-autocomplete-with-add-function>
    <app-selected-items-display
      headline="Ingredients"
      [knownItems]="knownIngredients"
      [data]="recipe.ingredients"
      (updateData)="updateSelectedIngredients($event)"
      noItemsAddedDescription="No Ingredients added"></app-selected-items-display>
    <br />
    <app-selected-items-display
      headline="Categories"
      [knownItems]="knownCategories"
      [data]="recipe.categories"
      (updateData)="updateSelectedCategories($event)"
      noItemsAddedDescription="No Categories added"></app-selected-items-display>
    <app-rating-display
      [editable]="true"
      (newRating)="updateRating($event)"
      [rating]="recipe.rating"></app-rating-display>
  </div>
  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      cdkFocusInitial
      (click)="finalizeRecipe()">
      {{ editing ? "Update" : "Add" }}
    </button>
    <button
      mat-raised-button
      (click)="recipeChange.emit()">
      Cancel
    </button>
  </div>
</div>
