<div class="container">
  <!-- Spacer -->
  <div></div>
  <div class="toolbarActions">
    <button
      class="minimize"
      mat-icon-button
      disableRipple
      tabIndex="-1"
      (click)="minimize()">
      <mat-icon inline="true">minimize</mat-icon>
    </button>
    <button
      mat-icon-button
      disableRipple
      tabIndex="-1"
      (click)="maximize()">
      <mat-icon inline="true">web_asset</mat-icon>
    </button>
    <button
      class="close"
      mat-icon-button
      disableRipple
      tabIndex="-1"
      (click)="close()">
      <mat-icon inline="true">close</mat-icon>
    </button>
  </div>
</div>
