<div class="container">
    <h1>Add a Recipe</h1>
    <div class="inputs">
        <mat-form-field appearance="fill">
            <mat-label>Recipe Name</mat-label>
            <input matInput placeholder="Name of recipe" [(ngModel)]="recipeName">
        </mat-form-field>
        <app-autocomplete-with-add-function itemName="Cookbook" [knownItems]="knownCookbooks" labelName="Cookbook"></app-autocomplete-with-add-function>
        <app-selected-items-display headline="Ingredients" [knownItems]="knownIngredients"></app-selected-items-display>
        <br>
        <app-selected-items-display headline="Categories"></app-selected-items-display>
        <app-rating-display [editable]="true" (onNewRating)="updateRating($event)"></app-rating-display>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" cdkFocusInitial>Add</button>
        <button mat-raised-button>Cancel</button>
    </div>
</div>