.container {
  display: flex;
  width: 100%;
  height: 100%;
}

app-recipe-list {
  width: 96vw;
  height: 100%;
}

app-sidebar {
  width: 4vw;
  height: 100%;
}

app-extensible-container {
  width: 20vw;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.positionIndex0 {
  right: 4vw;
}

.positionIndex1 {
  right: 24vw;
}
