.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  user-select: none;
}

.windowContent {
  display: flex;
  width: 100%;
  height: calc(100% - 20px);
  -webkit-app-region: no-drag;
}

app-toolbar {
  width: 100%;
  height: 20px;
  -webkit-app-region: drag;

  button {
    -webkit-app-region: no-drag;
  }
}

app-recipe-list {
  width: 100%;
  height: 100%;
}

.content {
  width: 96vw;
  height: 100%;
}

app-backdrop {
  width: 100%;
  height: calc(100% - 20px);
  position: absolute;
  z-index: -1;
}

app-sidebar {
  width: 4vw;
  height: 100%;
}

app-extensible-container {
  width: 20vw;
  height: calc(100% - 20px);
  z-index: 1;
  position: absolute;
}

.positionIndex0 {
  right: 4vw;
}

@media screen and (max-width: 1280px) {
  app-extensible-container {
    width: 25vw;
  }
}

@media screen and (max-width: 1500px) {
  app-sidebar {
    width: 6vw;
  }

  .content {
    width: 94vw;
  }

  .positionIndex0 {
    right: 6vw;
  }

  app-extensible-container {
    width: 25vw;
  }
}
