<div class="container">
  <app-toolbar></app-toolbar>
  <div class="windowContent">
    <div
      class="content"
      (click)="closeExtensibleContainer()">
      <app-backdrop></app-backdrop>
      <app-recipe-list></app-recipe-list>
    </div>
    <app-sidebar
      (addRecipe)="viewSelected(ExtendedOption.ADD)"
      (editRecipes)="viewSelected(ExtendedOption.EDIT)"
      (settings)="viewSelected(ExtendedOption.SETTINGS)"
      (search)="viewSelected(ExtendedOption.SEARCH)"
      [activeRef]="extended"></app-sidebar>
    <app-extensible-container
      class="positionIndex0"
      *ngIf="
        showEditRecipes() || showSettings() || showSearch() || showAddRecipe() || showEditRecipe()
      ">
      <app-edit-recipes
        *ngIf="showEditRecipes()"
        [reloadRecipes]="recipeEdited.asObservable()"
        (editRecipe)="editRecipe($event)"></app-edit-recipes>
      <app-settings *ngIf="showSettings()"></app-settings>
      <app-search
        *ngIf="showSearch()"
        (searchStarted)="toggleSearch()"></app-search>
      <app-recipe-form
        *ngIf="showAddRecipe() || showEditRecipe()"
        (recipeChange)="recipeChange()"
        [recipeInput]="currentlyEditedRecipe"></app-recipe-form>
    </app-extensible-container>
  </div>
</div>
