@use "src/palette";
@use "sass:map";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-icon {
  vertical-align: bottom;
  font-size: 1.6rem;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 6rem;
  margin-bottom: 6vh;
  font-family: 'JetBrains Mono', serif;
  color: map.get(palette.$recipe-black-palette, 900);
  text-shadow: 0 4px 4px map.get(palette.$recipe-black-palette, 800), 0 0 0 #000, 0 4px 4px map.get(palette.$recipe-black-palette, 800);
  text-align: center;
}

p {
  font-size: 1.5rem;
}
