.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 2px;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0;
  font-family: 'JetBrains Mono', serif;
}

h4 {
  margin: 0;
}

.container > * {
  margin: 0 3%;
}

.mainInformation {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.additionalInformation {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: relative;
  align-items: end;

  app-rating-display {
    position: absolute;
    bottom: 0;
  }
}
