<div class="container">
  <div class="recipeButtons">
    <button
      mat-icon-button
      disableRipple
      id="searchSidebarButton"
      (click)="searchTrigger()"
      [ngClass]="{ active: searchRefActive() }">
      <mat-icon class="search-icon">search</mat-icon>
    </button>
    <button
      mat-icon-button
      disableRipple
      id="addSidebarButton"
      (click)="addRecipeTrigger()"
      [ngClass]="{ active: addRefActive() }">
      <mat-icon class="add-icon">add</mat-icon>
    </button>
    <button
      mat-icon-button
      disableRipple
      id="editSidebarButton"
      (click)="editRecipesTrigger()"
      [ngClass]="{ active: editRefActive() }">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    disableRipple
    id="settingsSidebarButton"
    (click)="settingsTrigger()"
    [ngClass]="{ active: settingsRefActive() }">
    <mat-icon class="settings-icon">settings</mat-icon>
  </button>
</div>
