<div class="container">
  <div class="recipeButtons">
    <button
      mat-icon-button
      disableRipple
      (click)="addRecipeTrigger()">
      <mat-icon class="add-icon">add</mat-icon>
    </button>
    <button
      mat-icon-button
      disableRipple
      (click)="editRecipesTrigger()">
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    disableRipple
    (click)="settingsTrigger()">
    <mat-icon class="settings-icon">settings</mat-icon>
  </button>
</div>
