@use 'src/palette';
@use "sass:map";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.recipeButtons {
  margin-top: 2vh;

  button {
    margin-bottom: 2vh;
    height: 5vh;
  }
}

button:focus-visible {
  border-left: 4px solid white;
}

button.active {
  border-left: 4px solid white;
}

mat-icon {
  width: 100%;
  height: 100%;
}

.settings-icon {
  font-size: 3.5rem;
  line-height: 4rem !important;
}

.add-icon {
  font-size: 4rem;
  line-height: 4rem !important;
}

.search-icon {
  font-size: 4rem;
  line-height: 4rem !important;
}

.edit-icon {
  font-size: 3rem;
  line-height: 4rem !important;
}

button {
  width: 100%;
  margin-bottom: 1.5vh;
  height: 5vh;
  align-content: center;
  text-align: center;
}

.mat-icon-button {
  border-radius: 0;
}

@media screen and (max-height: 1000px) {
  .settings-icon {
    font-size: 2.2rem;
    line-height: 2.5rem !important;
  }

  .add-icon {
    font-size: 2.7rem;
    line-height: 3rem !important;
  }

  .search-icon {
    font-size: 2.2rem;
    line-height: 2.5rem !important;
  }

  .edit-icon {
    font-size: 1.8rem;
    line-height: 2.5rem !important;
  }
}
