<div class="container">
    <div class="searchElements">
        <mat-form-field class="searchTermInput" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Insert Search terms here" value="">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="searchOptions">
            <!-- Search for Terms in (Recipename, Ingredients, Categories) -->
            <!-- Selected Cookbooks -->
            <!-- Required Ingredients -->
            <!-- Required Categories -->
            <!-- Minimum Rating -->
        </div>
    </div>
</div>