.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.searchElements {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchTermInput {
    width: 100%;
}

.searchOptions {
  width: 100%;
  height: 20vh;
  padding: 1vh 0;
}
