<div class="container">
  <h1>Search</h1>
  <app-selected-items-display
    headline="Ingredients"
    [knownItems]="knownIngredients"
    [data]="selectedOptions.requiredIngredients"
    (updateData)="updateRequiredIngredients($event)"
    [triggerRefresh]="refreshTableData"
    id="ingredientSelect"
    [justKnownItemsSelectable]="true"
    noItemsAddedDescription="No Ingredients added"></app-selected-items-display>
  <app-selected-items-display
    headline="Categories"
    *ngIf="this.isCategoryRecipeFeatureEnabled()"
    [knownItems]="knownCategories"
    [data]="selectedOptions.includedCategories"
    (updateData)="updateIncludedCategories($event)"
    [triggerRefresh]="refreshTableData"
    id="categorySelect"
    [justKnownItemsSelectable]="true"
    noItemsAddedDescription="No Categories added"></app-selected-items-display>
  <app-selected-items-display
    headline="Cookbooks"
    [knownItems]="knownCookbooks"
    [data]="selectedOptions.includedCookbooks"
    (updateData)="updateIncludedCookbooks($event)"
    [triggerRefresh]="refreshTableData"
    id="cookbookSelect"
    [justKnownItemsSelectable]="true"
    noItemsAddedDescription="No Cookbooks added"></app-selected-items-display>
  <app-rating-display
    *ngIf="this.isRatingRecipeFeatureEnabled()"
    [editable]="true"
    [rating]="selectedOptions.minimumRating"
    (newRating)="onNewRatingSelected($event)"
    labelAddition="Minimum"></app-rating-display>
  <app-required-time-display
    *ngIf="this.isRequiredTimeRecipeFeatureEnabled()"
    [editable]="true"
    [requiredTime]="selectedOptions.maximumRequiredTime"
    (newRequiredTime)="onNewRequiredTimeSelected($event)"
    labelAddition="Maximum"></app-required-time-display>
  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      cdkfocusinitial
      id="submitSearchButton"
      (click)="onSearch()">
      Search
    </button>
    <button
      mat-raised-button
      color="secondary"
      cdkfocusinitial
      id="clearSearchButton"
      (click)="clear()">
      Clear
    </button>
  </div>
</div>
