<div class="container">
  <h1>Search</h1>
  <app-selected-items-display
    headline="Ingredients"
    [knownItems]="knownIngredients"
    [data]="selectedOptions.requiredIngredients"
    (updateData)="updateRequiredIngredients($event)"
    [onlyKnownItemsSelectable]="true"></app-selected-items-display>
  <app-selected-items-display
    headline="Categories"
    [knownItems]="knownCategories"
    [data]="selectedOptions.includedCategories"
    (updateData)="updateIncludedCategories($event)"
    [onlyKnownItemsSelectable]="true"></app-selected-items-display>
  <app-selected-items-display
    headline="Cookbooks"
    [knownItems]="knownCookbooks"
    [data]="selectedOptions.includedCookbooks"
    (updateData)="updateIncludedCookbooks($event)"
    [onlyKnownItemsSelectable]="true"></app-selected-items-display>
  <app-rating-display
    [editable]="true"
    [rating]="selectedOptions.minimumRating"
    (newRating)="onNewRatingSelected($event)"
    labelAddition="Minimum"></app-rating-display>
  <button
    mat-raised-button
    color="primary"
    cdkfocusinitial
    (click)="onSearch()">
    Search
  </button>
</div>
