// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "sass:map";
@use "palette.scss" as palette;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

$RecipeLibrary-dark-primary: mat.define-palette(palette.$recipe-green-palette, 500, 300, 700);
$RecipeLibrary-dark-accent: mat.define-palette(palette.$recipe-yellow-palette, 300);
$RecipeLibrary-dark-warn: mat.define-palette(palette.$recipe-red-palette, 300, 200, 400);

$RecipeLibrary-dark-background: mat.define-palette(palette.$recipe-black-palette, 800);
$RecipeLibrary-dark-sidebar: mat.define-palette(palette.$recipe-black-palette, 600);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RecipeLibrary-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $RecipeLibrary-dark-primary,
      accent: $RecipeLibrary-dark-accent,
      warn: $RecipeLibrary-dark-warn,
    ),
  )
);

$RecipeLibrary-dark-theme: map.set(
  $RecipeLibrary-dark-theme,
  color background,
  palette.$recipe-dark-theme-background-palette
);

$RecipeLibrary-dark-theme: map.set(
  $RecipeLibrary-dark-theme,
  background,
  palette.$recipe-dark-theme-background-palette
);

$RecipeLibrary-dark-theme: map.set(
  $RecipeLibrary-dark-theme,
  color,
  background,
  background,
  map.get(palette.$recipe-black-palette, 800)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($RecipeLibrary-dark-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-toolbar {
  background-color: map.get(palette.$recipe-black-palette, 900);
}

app-sidebar {
  background-color: map.get(palette.$recipe-black-palette, 700);
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}

app-extensible-container {
  background-color: map.get(palette.$recipe-black-palette, 600);
}

.tableBackground {
  background-color: map.get(palette.$recipe-black-palette, 700);
}

tr {
  background-color: map.get(palette.$recipe-black-palette, 700) !important;
}

app-recipe-overview > .container {
  background-color: map.get(palette.$recipe-black-palette, 700);
}

app-recipe-detail > .container {
  background-color: map.get(palette.$recipe-black-palette, 700);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d65a31 #484848;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d65a31;
  border-radius: 10px;
  border: 3px none #ffffff;
}
