<div class="container">
  <mat-form-field>
    <mat-label>{{ labelName }}</mat-label>
    <input
      type="text"
      placeholder="Pick from existing {{ itemName }}{{
        disableAddFunction ? '' : ' or add a new one'
      }}"
      matInput
      id="autoCompleteInput"
      #autoCompleteInputField
      (keyup)="handleKeyUpEvent($event)"
      [formControl]="itemSelect"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      @for (item of filteredItems | async; track item) {
      <mat-option
        [value]="item"
        appMatOptionTextOverflow
        (click)="onItemSelect(item)">
        @if (item === itemSelect.value && !knownItems.includes(item)) {
        <mat-icon>add</mat-icon>
        }
        {{ item }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
